<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddas.sns.userfriendblog.mapper.UserFriendBlogMapper">
  <resultMap id="UserFriendBlogMap" type="com.ddas.sns.userfriendblog.dto.UserFriendBlogDto">
    <association property="userBlog" javaType="com.ddas.sns.userblog.domain.UserBlog" resultMap="UserBlogMap" />
    <association property="userFriend" javaType="com.ddas.sns.userfriend.domain.UserFriend" resultMap="UserFriendMap" />
  </resultMap>
  <resultMap id="UserBlogMap" type="com.ddas.sns.userblog.domain.UserBlog" >
    <result column="ub_id" property="ubId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="blog_title" property="blogTitle" jdbcType="VARCHAR" />
    <result column="blog_content" property="blogContent" jdbcType="VARCHAR" />
    <result column="blog_privilege" property="blogPrivilege" jdbcType="VARCHAR" />
    <result column="blog_tags" property="blogTags" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="UserFriendMap" type="com.ddas.sns.userfriend.domain.UserFriend">
    <result column="uf_id" jdbcType="VARCHAR" property="ufId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="friend_id" jdbcType="VARCHAR" property="friendId" />
    <result column="friend_name" jdbcType="VARCHAR" property="friendName" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_time" jdbcType="VARCHAR" property="createdTime" />
    <result column="updated_time" jdbcType="VARCHAR" property="updatedTime" />
  </resultMap>

  <select id="queryByPage" parameterType="com.ddas.common.page.Page" resultMap="UserFriendBlogMap">
      SELECT * FROM user_friend uf INNER JOIN user_blog ub ON uf.friend_id = ub.user_id AND uf.user_id = "1" ORDER BY ub.created_time DESC LIMIT 0,2;
  </select>
  <select id="getCount" parameterType="com.ddas.common.page.Page" resultType="java.lang.Integer">
    SELECT count(*) FROM user_friend uf INNER JOIN user_blog ub ON uf.friend_id = ub.user_id AND uf.user_id = "1";
  </select>
</mapper>