<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddas.sns.friends.mapper.UserInfoMapper">
    <resultMap type="com.ddas.sns.friends.domain.UserInfo" id="usermap">
        <result column="user_name" property="userName"/>
        <result column="user_pwd" property="userPwd"/>
    </resultMap>

    <select id="getUserInfo" resultMap="usermap">
        SELECT user_name,user_pwd FROM osf.osf_users;
    </select>
</mapper>